
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body{
    margin: 0;
    font-family: "Noto Sans", sans-serif;
}

body *{
    box-sizing: border-box;
}

.main{
    width: 100vw;
    height: 100vh;
    background-color: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login h1{
    font-size: 3vw;
    color: #77ffc0;
    margin-left:15px;
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login h1{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 35px;
    color: #00ff88;
    font-weight: 800;
    margin: 0;
}

.tf{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.tf input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 18pt;
    outline: none;
    box-sizing: border-box;
}

.tf label{
    color: #f0ffffde;
    margin-bottom: 10px;
}

.tf input::placeholder{
color: #f0ffff94;
}

.btn{
    width: 100%;
    border: none;
    padding: 16px 0px;
    margin: 25px;
    border-radius:8px ;
    outline: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight:800 ;
    color: #2b134b;
    background-color: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
    transition: 0.2s;
}

.btn:hover{
    width: 102%;
    transition: 0.2s;
}

.img-left{
    width: 35vw;
}

@media only screen and (max-width:950px) {
    .card-login{
        width: 85%;
    }
}

@media only screen and (max-width:650px) {
    .main{
        flex-direction: column;
    }
    .left-login h1{
        display: none;
    }
    .left-login{
        width: 100%;
        height: auto;
    }
    .right-login{
        width: 100%;
        height: auto;
    }

    .img-left{
        width: 40vh;
    }
    .card-login{
        width: 80%;
    }
}

@media only screen and (max-width:420px) {
    .main{
        flex-direction: column;
    }
    .left-login h1{
        display: none;
    }
    .left-login{
        width: 100%;
        height: auto;
    }
    .right-login{
        width: 100%;
        height: auto;
    }

    .img-left{
        width: 30vh;
    }
    .card-login{
        width: 80%;
    }
}
@media only screen and (max-width:280px) {
    .main{
        flex-direction: column;
    }
    .left-login h1{
        display: none;
    }
    .left-login{
        width: 100%;
        height: auto;
    }
    .right-login{
        width: 100%;
        height: auto;
    }

    .img-left{
        display: none;
    }
    .card-login{
        width: 80%;
    }
}

#btn{
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0.5rem;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    outline: none;
}

